
.galerija {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0;
}

.sadrzaj {
    background-color: lightskyblue;
    margin-top: 0;
    padding: 0;
    min-width: 200px;
}

.galerija  img {
    width: 200px;
    height: 200px;
}

.galerija > img :hover {
        filter: blur(4px);
      }

